server:
  port: ${PORT}

jwt:
  secret: ${JWT_SECRET}
  expiration_time: ${JWT_EXPIRATION_TIME}

spring:
  application:
    name: stocksense

  config:
    import: optional:file:.env[.properties]
  
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  redis:
    host: localhost
    port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

